**Module 1:**

In [ ]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")


# Function to read the CSV file into a DataFrame
def read_csv():
    # read the user_nodes.csv file using pandas library and return it
    df = pd.read_csv('user_nodes.csv')
    return df


# Function to check for null (missing) values in the DataFrame
def check_null_values():
    # do not edit the predefined function name
    df = read_csv()
    # Check for null values using the isnull() method and sum them for each column
    null_values = df.isnull().sum()
    return null_values

# Function to check for duplicate rows in the DataFrame
def check_duplicates():
    # do not edit the predefined function name
    df = read_csv()
    # Calculate the number of duplicate rows using the duplicated() method and sum them
    duplicates = df.duplicated().sum()
    return duplicates



# Function to drop duplicate rows from the DataFrame
def drop_duplicates():
    # do not edit the predefined function name
    df = read_csv()
    # Drop duplicate rows using the drop_duplicates() method with inplace=True
    df.drop_duplicates(inplace=True)
    return df


def data_cleaning():
    df = drop_duplicates()

    # Step 3: Drop specified columns from the DataFrame ("has_loan", "is_act")
    df.drop(["has_loan", "is_act"], axis=1, inplace=True)

    # Step 4: Rename columns
    df.rename(columns={'id_': 'consumer_id', 'area_id_': 'region_id', 'node_id_': 'node_id', 'act_date': 'start_date', 'deact_date': 'end_date'}, inplace=True)

    # Step 5: Export the cleaned DataFrame to a CSV file without the index column
    df.to_csv('user_nodes_cleaned.csv', index=False)
    return df

**Module 2:**

In [ ]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")


# Function to read the CSV file into a DataFrame
def read_csv():
    # read the user_transactions.csv file using pandas library and return it
    df = pd.read_csv('user_transactions.csv')
    return df

# Function to check for null (missing) values in the DataFrame
def check_null_values():
    # do not edit the predefined function name
    df = read_csv()
    # Check for null values using the isnull() method and sum them for each column
    null_values = df.isnull().sum()
    return null_values

# Function to check for duplicate values in the DataFrame
def check_duplicates():
    # do not edit the predefined function name
    df = read_csv()
    # Calculate the number of duplicate rows using the duplicated() method and sum them
    duplicates = df.duplicated().sum()
    return duplicates



# Function to drop duplicate rows from the DataFrame
def drop_duplicates():
    # do not edit the predefined function name
    df = read_csv()
    # Drop duplicate rows using the drop_duplicates() method with inplace=True
    df.drop_duplicates(inplace=True)
    return df


def data_cleaning():
    """
    Data Cleaning Function:
    Cleans the DataFrame by dropping specified columns and renaming others.

    Returns:
    DataFrame: The cleaned DataFrame after dropping and renaming columns.
    """
    # Step 1: Get the DataFrame with duplicate rows removed and rows with null values dropped
    df = drop_duplicates()

    # Step 2: Columns to remove from the DataFrame
    columns_to_remove = ["has_credit_card", "account_type"]
    # Drop specified columns from the DataFrame
    df.drop(columns=columns_to_remove, inplace=True)

    # Step 3: Rename columns using the new column names
    df.rename(columns={'id_': 'consumer_id', 't_date': 'transaction_date', 't_type': 'transaction_type', 't_amt': 'transaction_amount'}, inplace=True)

    # Step 4: Export the cleaned DataFrame to a CSV file without the index column
    df.to_csv('user_transaction_cleaned.csv', index=False)
    return df

**Module 3: SQL QUERIES**

In [ ]:
SELECT wr.region_name, COUNT(DISTINCT un.consumer_id) AS num_users
FROM world_regions wr
LEFT JOIN user_nodes un ON wr.region_id = un.region_id
GROUP BY wr.region_name;
============================
SELECT ut.consumer_id, ut.transaction_type, MAX(ut.transaction_amount) AS largest_deposit
FROM user_transaction ut
WHERE ut.transaction_type = 'deposit'
GROUP BY ut.consumer_id, ut.transaction_type
ORDER BY largest_deposit DESC
LIMIT 2;
=========================================
SELECT un.consumer_id, SUM(ut.transaction_amount) AS total_amount_deposited
FROM user_transaction AS ut
JOIN user_nodes AS un
ON ut.consumer_id = un.consumer_id
JOIN world_regions AS wr
ON un.region_id = wr.region_id
WHERE wr.region_name = 'Europe'
AND ut.transaction_type = 'deposit'
GROUP BY un.consumer_id;
=========================================
SELECT u.consumer_id, COUNT(t.consumer_id) AS total_transactions
FROM user_nodes u
INNER JOIN user_transaction t ON u.consumer_id = t.consumer_id
INNER JOIN world_regions r ON u.region_id = r.region_id
WHERE r.region_name = 'United States'
GROUP BY u.consumer_id;
==============================
SELECT t.consumer_id, COUNT(*) AS num_transactions
FROM user_transaction t
GROUP BY t.consumer_id
HAVING COUNT(*) > 5;
=========================================
SELECT r.region_name, COUNT(u.node_id) AS num_nodes
FROM world_regions r
LEFT JOIN user_nodes u ON r.region_id = u.region_id
GROUP BY r.region_name
HAVING COUNT(u.node_id) > 0;
==========================================
SELECT u.consumer_id, MAX(t.transaction_amount) AS largest_deposit_amount
FROM user_nodes u
INNER JOIN user_transaction t ON u.consumer_id = t.consumer_id
INNER JOIN world_regions r ON u.region_id = r.region_id
WHERE r.region_name = 'Australia' AND t.transaction_type = 'deposit'
GROUP BY u.consumer_id
ORDER BY largest_deposit_amount DESC
LIMIT 1;
====================================
SELECT u.consumer_id, r.region_name, SUM(t.transaction_amount) AS total_deposit_amount
FROM user_nodes u
INNER JOIN user_transaction t ON u.consumer_id = t.consumer_id
INNER JOIN world_regions r ON u.region_id = r.region_id
WHERE t.transaction_type = 'deposit'
GROUP BY u.consumer_id, r.region_name;
===========================================
SELECT r.region_name, COUNT(t.consumer_id) AS total_transactions
FROM world_regions r
LEFT JOIN user_nodes u ON r.region_id = u.region_id
LEFT JOIN user_transaction t ON u.consumer_id = t.consumer_id
GROUP BY r.region_name
HAVING COUNT(t.consumer_id) > 0;
==========================================
SELECT r.region_name, SUM(t.transaction_amount) AS total_deposit_amount
FROM world_regions r
LEFT JOIN user_nodes u ON r.region_id = u.region_id
INNER JOIN user_transaction t ON u.consumer_id = t.consumer_id
WHERE t.transaction_type = 'deposit'
GROUP BY r.region_name;
===============================================
SELECT t.consumer_id, SUM(t.transaction_amount) AS total_transaction_amount
FROM user_transaction t
WHERE t.transaction_type = 'deposit'
GROUP BY t.consumer_id
ORDER BY total_transaction_amount DESC
LIMIT 5;
=========================================
SELECT r.region_id, r.region_name, COUNT(DISTINCT u.consumer_id) AS num_of_customers
FROM world_regions r
INNER JOIN user_nodes u ON r.region_id = u.region_id
GROUP BY r.region_id, r.region_name;
===========================================
SELECT transaction_type, COUNT(DISTINCT consumer_id) AS unique_count, SUM(transaction_amount) AS total_amount
FROM user_transaction
GROUP BY transaction_type;
===========================================
SELECT
    'deposit' AS txn_type,
    ROUND(AVG(deposit_count), 0) AS avg_deposit_count,
    ROUND(AVG(deposit_amount), 0) AS avg_deposit_amount
FROM (
    SELECT
        consumer_id,
        SUM(CASE WHEN transaction_type = 'deposit' THEN 1 ELSE 0 END) AS deposit_count,
        SUM(CASE WHEN transaction_type = 'deposit' THEN transaction_amount ELSE 0 END) AS deposit_amount
    FROM user_transaction
    GROUP BY consumer_id
) AS deposit_summary;
===============================================
SELECT r.region_name, COUNT(t.transaction_type) AS num_transactions
FROM world_regions r
LEFT JOIN user_nodes u ON r.region_id = u.region_id
LEFT JOIN user_transaction t ON u.consumer_id = t.consumer_id
GROUP BY r.region_name
HAVING COUNT(t.transaction_type) > 0;