In [ ]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

# Function to read the CSV file into a DataFrame
def read_csv():
    # read the user_nodes.csv file using pandas library and return it
    df = pd.read_csv('user_nodes.csv')
    return df

# Function to check for null (missing) values in the DataFrame
def check_null_values():
    # do not edit the predefined function name
    df = read_csv()
    # Check for null values using the isnull() method and sum them for each column
    null_values = df.isnull().sum()
    return null_values
a = check_null_values()
print(a)

id_           0
area_id_      0
node_id_      0
act_date      0
deact_date    0
has_loan      0
is_act        0
dtype: int64

In [ ]:
# Function to check for duplicate rows in the DataFrame
def check_duplicates():
    # do not edit the predefined function name
    df = read_csv()
    # Calculate the number of duplicate rows using the duplicated() method and sum them
    duplicates = df.duplicated().sum()
    return duplicates
b = check_duplicates()
print(b)

143

In [ ]:
data = pd.read_csv('user_nodes.csv')
print("original dataframe", data.shape)

original dataframe (3643, 7)

In [ ]:
# Function to drop duplicate rows from the DataFrame
def drop_duplicates():
    # do not edit the predefined function name
    df = read_csv()
    # Drop duplicate rows using the drop_duplicates() method with inplace=True
    df.drop_duplicates(inplace=True)
    return df
c = drop_duplicates()
print(c)

      id_  area_id_  node_id_    act_date  deact_date  has_loan  is_act
0       1         3         4  02-01-2020  03-01-2020         1       0
1       2         3         5  03-01-2020  17-01-2020         0       1
2       3         5         4  27-01-2020  18-02-2020         0       0
3       4         5         4  07-01-2020  19-01-2020         1       1
4       5         3         3  15-01-2020  23-01-2020         0       1
...   ...       ...       ...         ...         ...       ...     ...
3495  496         3         4  25-02-2020  31-12-2021         0       0
3496  497         5         4  27-05-2020  31-12-2021         0       1
3497  498         1         2  05-04-2020  31-12-2021         0       0
3498  499         5         1  03-02-2020  31-12-2021         1       1
3499  500         2         2  15-04-2020  31-12-2021         0       1

[3500 rows x 7 columns]

In [ ]:
def data_cleaning():
    df = drop_duplicates()

    # Step 3: Drop specified columns from the DataFrame ("has_loan", "is_act")
    df.drop(["has_loan", "is_act"], axis=1, inplace=True)

    # Step 4: Rename columns
    df.rename(columns={'id_': 'consumer_id', 'area_id_': 'region_id', 'node_id_': 'node_id', 'act_date': 'start_date', 'deact_date': 'end_date'}, inplace=True)

    # Step 5: Export the cleaned DataFrame to a CSV file without the index column
    df.to_csv('user_nodes_cleaned.csv', index=False)
    return df
d = data_cleaning()

In [ ]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

# Function to read the CSV file into a DataFrame
def read_csv():
    # read the user_transactions.csv file using pandas library and return it
    df = pd.read_csv('user_transactions.csv')
    return df

# Function to check for null (missing) values in the DataFrame
def check_null_values_1():
    # do not edit the predefined function name
    df = read_csv()
    # Check for null values using the isnull() method and sum them for each column
    null_values = df.isnull().sum()
    return null_values
a_1 = check_null_values_1()
print(a_1)

id_                0
t_date             0
t_type             0
t_amt              0
has_credit_card    0
account_type       0
dtype: int64

In [ ]:
# Function to check for duplicate values in the DataFrame
def check_duplicates_1():
    # do not edit the predefined function name
    df = read_csv()
    # Calculate the number of duplicate rows using the duplicated() method and sum them
    duplicates = df.duplicated().sum()
    return duplicates

b_1 = check_duplicates_1()
print(b_1)

79

In [ ]:
data_1 = pd.read_csv('user_transactions.csv')
print("original dataframe", data_1.shape)

original dataframe (5947, 6)

In [ ]:
# Function to drop duplicate rows from the DataFrame
def drop_duplicates_1():
    # do not edit the predefined function name
    df = read_csv()
    # Drop duplicate rows using the drop_duplicates() method with inplace=True
    df.drop_duplicates(inplace=True)
    return df
c_1 = drop_duplicates_1()
print(c_1)

      id_      t_date   t_type  t_amt has_credit_card account_type
0     312  20-01-2020  deposit    485             Yes      Savings
1     376  03-01-2020  deposit    706              No      Current
2     188  13-01-2020  deposit    601              No      Savings
3     138  11-01-2020  deposit    520              No       Salary
4     373  18-01-2020  deposit    596              No       Salary
...   ...         ...      ...    ...             ...          ...
5863  155  10-01-2020  deposit    712             Yes      Savings
5864  398  01-01-2020  deposit    196              No      Current
5865  255  14-01-2020  deposit    563             Yes      Savings
5866  185  29-01-2020  deposit    626             Yes      Savings
5867  309  13-01-2020  deposit    995             Yes      Savings

[5868 rows x 6 columns]

In [ ]:
def data_cleaning_1():
    """
    Data Cleaning Function:
    Cleans the DataFrame by dropping specified columns and renaming others.

    Returns:
    DataFrame: The cleaned DataFrame after dropping and renaming columns.
    """
    # Step 1: Get the DataFrame with duplicate rows removed and rows with null values dropped
    df = drop_duplicates()

    # Step 2: Columns to remove from the DataFrame
    columns_to_remove = ["has_credit_card", "account_type"]
    # Drop specified columns from the DataFrame
    df.drop(columns=columns_to_remove, inplace=True)

    # Step 3: Rename columns using the new column names
    df.rename(columns={'id_': 'consumer_id', 't_date': 'transaction_date', 't_type': 'transaction_type', 't_amt': 'transaction_amount'}, inplace=True)

    # Step 4: Export the cleaned DataFrame to a CSV file without the index column
    df.to_csv('user_transaction_cleaned.csv', index=False)
    return df
d_1 = data_cleaning_1()

In [ ]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3500 entries, 0 to 3499
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   consumer_id  3500 non-null   int64
 1   region_id    3500 non-null   int64
 2   node_id      3500 non-null   int64
 3   start_date   3500 non-null   object
 4   end_date     3500 non-null   object
dtypes: int64(3), object(2)
memory usage: 164.1+ KB

In [ ]:
d_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5868 entries, 0 to 5867
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   consumer_id         5868 non-null   int64
 1   transaction_date    5868 non-null   object
 2   transaction_type    5868 non-null   object
 3   transaction_amount  5868 non-null   int64
dtypes: int64(2), object(2)
memory usage: 229.2+ KB

In [ ]:
d

      consumer_id  region_id  node_id  start_date    end_date
0               1          3        4  02-01-2020  03-01-2020
1               2          3        5  03-01-2020  17-01-2020
2               3          5        4  27-01-2020  18-02-2020
3               4          5        4  07-01-2020  19-01-2020
4               5          3        3  15-01-2020  23-01-2020
...           ...        ...      ...         ...         ...
3495          496          3        4  25-02-2020  31-12-2021
3496          497          5        4  27-05-2020  31-12-2021
3497          498          1        2  05-04-2020  31-12-2021
3498          499          5        1  03-02-2020  31-12-2021
3499          500          2        2  15-04-2020  31-12-2021

[3500 rows x 5 columns]

In [ ]:
d_1

      consumer_id transaction_date transaction_type  transaction_amount
0             312       20-01-2020          deposit                 485
1             376       03-01-2020          deposit                 706
2             188       13-01-2020          deposit                 601
3             138       11-01-2020          deposit                 520
4             373       18-01-2020          deposit                 596
...           ...              ...              ...                 ...
5863          155       10-01-2020          deposit                 712
5864          398       01-01-2020          deposit                 196
5865          255       14-01-2020          deposit                 563
5866          185       29-01-2020          deposit                 626
5867          309       13-01-2020          deposit                 995

[5868 rows x 4 columns]

In [ ]:
import pandas as pd

# Load the cleaned DataFrames
user_nodes_cleaned = pd.read_csv('user_nodes_cleaned.csv')
user_transaction_cleaned = pd.read_csv('user_transaction_cleaned.csv')

# Merge the DataFrames on the 'consumer_id' column
merged_data = pd.merge(user_nodes_cleaned, user_transaction_cleaned, on='consumer_id', how='inner')
merged_data.to_csv('merged.csv', index=False)

In [ ]:
world_regions = pd.read_csv('world_regions.csv')

In [ ]:
world_regions

   region_id    region_name
0          1  United States
1          2         Europe
2          3      Australia
3          4           Asia
4          5         Africa
5          6         Russia
6          7          China

In [ ]:
merged_data = pd.merge(merged_data, world_regions, on='region_id', how='inner')

In [ ]:
merged_data.to_csv('merged.csv', index=False)

In [ ]:
merged_data

,consumer_id,region_id,node_id,start_date,end_date,transaction_date,transaction_type,transaction_amount,region_name
0,1,3,4,02-01-2020,03-01-2020,02-01-2020,deposit,312,Australia
1,1,3,4,02-01-2020,03-01-2020,05-03-2020,purchase,612,Australia
2,1,3,4,02-01-2020,03-01-2020,17-03-2020,deposit,324,Australia
3,1,3,4,02-01-2020,03-01-2020,19-03-2020,purchase,664,Australia
4,1,3,4,04-01-2020,14-01-2020,02-01-2020,deposit,312,Australia
...,...,...,...,...,...,...,...,...,...
41071,493,4,3,19-03-2020,31-12-2021,07-04-2020,deposit,918,Asia
41072,493,4,3,19-03-2020,31-12-2021,29-02-2020,withdrawal,465,Asia
41073,493,4,3,19-03-2020,31-12-2021,14-02-2020,deposit,173,Asia
41074,493,4,3,19-03-2020,31-12-2021,12-04-2020,withdrawal,832,Asia
41075,493,4,3,19-03-2020,31-12-2021,14-02-2020,withdrawal,483,Asia

In [ ]:
region_users_count = merged_data.groupby('region_name')['consumer_id'].nunique()
print(region_users_count)

region_name
Africa            88
Asia              95
Australia        102
Europe           105
United States    110
Name: consumer_id, dtype: int64

In [ ]:
largest_deposit = merged_data[merged_data['transaction_type'] == 'deposit']['transaction_amount'].max()
user_with_largest_deposit = merged_data[(merged_data['transaction_type'] == 'deposit') & (merged_data['transaction_amount'] == largest_deposit)]
print(user_with_largest_deposit[['consumer_id', 'transaction_type', 'transaction_amount']])

       consumer_id transaction_type  transaction_amount
11171          218          deposit                1000
11193          218          deposit                1000
11215          218          deposit                1000
11237          218          deposit                1000
11259          218          deposit                1000
11281          218          deposit                1000
11303          218          deposit                1000
28360          219          deposit                1000
28376          219          deposit                1000
28392          219          deposit                1000
28408          219          deposit                1000
28424          219          deposit                1000
28440          219          deposit                1000
28456          219          deposit                1000

In [ ]:
europe_deposits = merged_data[(merged_data['region_name'] == 'Europe') & (merged_data['transaction_type'] == 'deposit')]
total_deposits_by_user_in_europe = europe_deposits.groupby('consumer_id')['transaction_amount'].sum()
print(total_deposits_by_user_in_europe)

consumer_id
7      32116
11     15925
13     22750
17      3255
19      6293
       ...
471    13209
475    18613
480     7525
485    24584
500    42329
Name: transaction_amount, Length: 105, dtype: int64

In [ ]:
us_transactions = merged_data[(merged_data['region_name'] == 'United States')]
total_transactions_by_user_in_us = us_transactions.groupby('consumer_id').size()
print(total_transactions_by_user_in_us)

consumer_id
6      133
8       70
12      28
14      28
15      14
      ...
464     28
466     49
481     84
492     98
498     63
Length: 110, dtype: int64

In [ ]:
users_with_more_than_5_transactions = merged_data.groupby('consumer_id').size()
users_with_more_than_5_transactions = users_with_more_than_5_transactions[users_with_more_than_5_transactions > 5]
total_users_with_more_than_5_transactions = len(users_with_more_than_5_transactions)
print(total_users_with_more_than_5_transactions)

500

In [ ]:
regions_with_highest_nodes = merged_data.groupby('region_name')['node_id'].nunique().idxmax()
print(regions_with_highest_nodes)

Africa

In [ ]:
largest_deposit_in_australia = merged_data[(merged_data['region_name'] == 'Australia') & (merged_data['transaction_type'] == 'deposit')]['transaction_amount'].max()
user_with_largest_deposit_in_australia = merged_data[(merged_data['region_name'] == 'Australia') & (merged_data['transaction_type'] == 'deposit') & (merged_data['transaction_amount'] == largest_deposit_in_australia)]
print(user_with_largest_deposit_in_australia[['consumer_id', 'transaction_type', 'transaction_amount']])

      consumer_id transaction_type  transaction_amount
4159          285          deposit                 998
4162          285          deposit                 998
4165          285          deposit                 998
4168          285          deposit                 998
4171          285          deposit                 998
4174          285          deposit                 998
4177          285          deposit                 998

In [ ]:
total_deposits_by_user_in_each_region = merged_data[merged_data['transaction_type'] == 'deposit'].groupby(['consumer_id', 'region_name'])['transaction_amount'].sum()
print(total_deposits_by_user_in_each_region)

consumer_id  region_name
1            Australia         4452
2            Australia         4270
3            Africa            4459
4            Africa            5936
5            Australia        20370
                              ...
496          Australia         4879
497          Africa           20804
498          United States    29316
499          Africa           31619
500          Europe           42329
Name: transaction_amount, Length: 500, dtype: int64

In [ ]:
total_transactions_by_region = merged_data.groupby('region_name').size()
print(total_transactions_by_region)

region_name
Africa           6797
Asia             7952
Australia        8414
Europe           8806
United States    9107
dtype: int64

In [ ]:
total_deposit_amount_by_region = merged_data[merged_data['transaction_type'] == 'deposit'].groupby('region_name')['transaction_amount'].sum()
print(total_deposit_amount_by_region)

region_name
Africa           1610791
Asia             1853110
Australia        1851703
Europe           2120503
United States    2078069
Name: transaction_amount, dtype: int64

In [ ]:
top_5_consumers_by_total_transaction_amount = merged_data[merged_data['transaction_type'] == 'deposit'].groupby('consumer_id')['transaction_amount'].sum().nlargest(5)
print(top_5_consumers_by_total_transaction_amount)

consumer_id
197    56679
281    53606
376    51009
416    51002
203    48692
Name: transaction_amount, dtype: int64

In [ ]:
consumers_allocated_to_each_region = merged_data.groupby('region_name')['consumer_id'].nunique()
print(consumers_allocated_to_each_region)

region_name
Africa            88
Asia              95
Australia        102
Europe           105
United States    110
Name: consumer_id, dtype: int64

In [ ]:
transaction_type_summary = merged_data.groupby('transaction_type').agg({'transaction_amount': ['count', 'sum']})
print(transaction_type_summary)

                 transaction_amount
                              count      sum
transaction_type
deposit                       18697  9514176
purchase                      11319  5645759
withdrawal                    11060  5551021

In [ ]:
average_deposit_counts_and_amounts = merged_data[merged_data['transaction_type'] == 'deposit'].groupby('transaction_type')['transaction_amount'].agg(['count', 'mean'])
print(average_deposit_counts_and_amounts)

                  count        mean
transaction_type
deposit           18697  508.861101

In [ ]:
transactions_by_region = merged_data.groupby(['region_name', 'consumer_id']).size().reset_index(name='transaction_count')
print(transactions_by_region)

       region_name  consumer_id  transaction_count
0           Africa            3                 35
1           Africa            4                 21
2           Africa           25                 77
3           Africa           38                140
4           Africa           39                119
..             ...          ...                ...
495  United States          464                 28
496  United States          466                 49
497  United States          481                 84
498  United States          492                 98
499  United States          498                 63

[500 rows x 3 columns]